@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jersey+10&display=swap');

h1{
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(https://thesimpsonsapi.com/clouds-bg.jpg);
}

main{
  width: 100%;
  margin: 0 auto;
}
.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    font-size: 2rem;
    color:  #ffdf00;
  }
  
  .nav-link {
    font-family: 'Indie Flower', cursive;
    font-size: 1.3rem;
    font-weight: bold;
  }
  